# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.venv/

# Django
db.sqlite3
staticfiles/

# Environment
.env

# Media
media/

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Node
node_modules/
dist/

# Logs
*.log